xsd/characterGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
<!-- characterGroup Table-->
        <xs:element name="characterGroup" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
		   <xs:attribute name="id" type="xs:string"/>
		   <xs:attribute name="characterGroup" type="xs:string"/>
		   <xs:attribute name="characterGroupId" type="xs:string"/>
		   <xs:attribute name="characterId" type="xs:string"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>