xsd/characterFeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
<!-- characterFeature Table-->
        <xs:element name="characterFeature" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
		<xs:attribute name="id" type="xs:string"/>	
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="folder" type="xs:string"/>
		<xs:attribute name="atlas" type="xs:string"/>
		<xs:attribute name="image" type="xs:string"/>



          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>