xsd/mailbox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
<!-- mailbox Table-->
        <xs:element name="mailbox" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
 		<xs:attribute name="id" type="xs:integer"/>
 		<xs:attribute name="addresser" type="xs:integer"/>
 		<xs:attribute name="description" type="xs:integer"/>
 		<xs:attribute name="time" type="xs:integer"/>


          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>