xsd/prohibitedWords.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
<!-- prohibitedWords Table-->
        <xs:element name="prohibitedWords" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
 		<xs:attribute name="id" type="xs:integer"/>
 		<xs:attribute name="value" type="xs:integer"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>