xsd/worldSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
<!-- worldSchedule Table-->
        <xs:element name="worldSchedule" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>

		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="order" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>